<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>metodo de pago</title>
</head>
<body>
    <form action="/pago" method="post">

        <h1>TRANSFERECIA</h1>
        <p>RUT: 21.432.721-k</p>
        <p>NOMBRE: Sebastian navarrete</p>
        <p>N-CUENTA: 21432721</p>
        <p>T-CUENTA: Vista</p>
    </form>
    <form action="/productos" method="get">
        <button type="submit">Seguir comprando</button>
    </form>
</body>
</html> 